<a href="{{ product.url }}" class="card card-compact w-96 bg-base-100 shadow-xl w-full bg-slate-700">
  <figure>
    {% if product.featured_image %}
      <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.featured_image.alt }}" class="w-full h-[214px] object-cover" />
    {% else %}
      {{ 'product-1' | placeholder_svg_tag: 'w-full h-[214px] object-cover'}}    
    {% endif %}
  </figure>
  <div class="card-body">
    <p>{{ product.vendor }}</p>
    <h2 class="card-title">{{ product.title }}</h2>
    <p class="text-gray-200 font-semibold">{{ product.price | money }}</p>
  </div>
</a>