{% assign main_menu_linklist = linklists[section.settings.menu_link].links %}

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Products</a></li>
        <li><a>Cart</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost normal-case text-xl">{{ section.settings.menu_title }}</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      {% for link in main_menu_linklist %}
        {% if link.links != blank %}
          <li>
            <details>
              <summary>
                {{ link.title }}
              </summary>
              <ul class="p-2 bg-base-100">
                {% for sublink in link.links %}
                  <li><a href="{{ sublink.url }}">{{ sublink.title }}</a></li>
                {% endfor %}
              </ul>
            </details>
          </li>
        {% else %}              
          <li>
            <a class="{% if link.active %}active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1">
      <li><a href="{{ routes.account_login_url }}">Login</a></li>
      <li><a href="{{ routes.account_register_url }}">Register</a></li>
      <li><a href="{{ routes.cart_url }}">
        {% render 'icon-shopping-cart' %}
      </a></li>
    </ul>
  </div>
</div>

{% schema %}
  {
    "name": "Navigation Bar",
    "settings": [
      {
        "type": "text",
        "id": "menu_title",
        "label": "Title main",
        "default": "Menu",
        "info": "Description main"
      },
      {
        "type": "link_list",
        "id": "menu_link",
        "label": "Header Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}