<div class="bg-white dark:bg-gray-900 text-gray-800 dark:text-white py-8">
  <div class="container mx-auto px-4">
    <article>
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'article_title' %}
            <h1 class="text-4xl font-bold mb-4">{{ article.title }}</h1>
          {% when 'article_author' %}
            {% if section.settings.enable_author %}
              <small class="text-sm text-gray-600 dark:text-gray-400">{{ article.author }}</small>
            {% endif %}
          {% when 'article_published_date' %}
            {% if section.settings.enable_publish %}
              <time class="text-sm text-gray-600 dark:text-gray-400" datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%Y-%m-%d' }}</time>
            {% endif %}
          {% when 'feature_image' %}
            <img class="w-full h-auto" src="{{ article.image | img_url: 'large' }}" loading="lazy" alt="{{ article.image.alt }}">
          {% when 'article_content' %}
            <div class="prose dark:prose-dark">{{ article.content }}</div>
          {% else %}
        {% endcase %}
      {% endfor %}
    </article>
  </div>
</div>

{% schema %}
  {
    "name": "Template Article",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_author",
        "default": true,
        "label": "Display Author Name"
      },
      {
        "type": "checkbox",
        "id": "enable_publish",
        "default": true,
        "label": "Display Publish Date"
      }
    ],
    "blocks": [
      {
        "type": "article_title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "article_author",
        "name": "Author",
        "limit": 1
      },
      {
        "type": "article_published_date",
        "name": "Published date",
        "limit": 1
      },
      {
        "type": "feature_image",
        "name": "Thumbnail",
        "limit": 1
      },
      {
        "type": "article_content",
        "name": "Content",
        "limit": 1
      }
    ]
  }
{% endschema %}